

.bs-news {
    background-color: #FAFAFA;
    border-color: #E5E5E5 #EEEEEE #EEEEEE;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    margin: 0 -15px 15px;
    padding: 45px 15px 15px;
    position: relative;
}

.bs-news {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}

.bs-news:after {
    color: #BBBBBB;
    content: "News Feed";
    font-size: 12px;
    font-weight: bold;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

.container .jumbotron {
    padding:10px;
}

.fnt-size-18{
    font-size: 18px;

}
.fnt-size-24{
    font-size: 24px;

}
.fnt-size-36{
    font-size: 36px;

}

.fnt-size-46{
    font-size: 46px;

}
.fnt-size-14{
    font-size: 14px;
}
.fnt-size-16{
    font-size: 16px;
}

.fnt-bold{
    font-weight: bold;
}

.mar-top10{
    margin-top: 10px;
}
.padd-20px{
    padding-bottom: 20px;
}

.navbar{
    margin-bottom: 5px;
}

.padd-top-10px{
     padding-top: 10px;
     padding-left: 10px;
}

.hide-me{
    display: none;
}

.cres-title {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
}

/* make modal larger */
.modal {
    width:700px
}

/* put the categories in two columns */
#categories ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

/* make the thumbnail grid pretty */
.thumbnails {
    text-align: justify;
}

.thumbnails li{
    height:180px;
    display: inline-block;
    float:none;
}

.cmt-display{
    border: 1px solid #DDDDDD;
    height: 90px;
    overflow: scroll;
    width: 100%;
}

.news-ticker{
    text-decoration: underline;
    color: #a52a2a;
}